<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
       "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.skhu.mapper.BasicMapper">

	

	<select id="findAll" resultType="Basic">
		<bind name="start" value="(pg-1)*sz"/>
		SELECT * FROM basic
		WHERE recipe_id=recipe_id
		<if test="sb==1"> And recipe_nm_ko like concat('%',#{st},'%')</if>
		<if test="sb==2"> And calorie like concat('%',#{st},'%') </if>
		<if test="sb==3"> And  nation_nm like concat('%',#{st},'%')</if>
		Order By
			<choose>
				<when test="ob==1">calorie desc</when>
				<when test="ob==2">ty_nm</when>
				<otherwise>recipe_id asc</otherwise>
			</choose>
			LIMIT ${start},${sz}
	</select>


	<select id ="count" resultType ="int">
		Select Count(recipe_id)
		from basic where recipe_id= recipe_id
		<if test="sb==1"> And recipe_nm_ko like concat('%',#{st},'%')</if>
		<if test="sb==2"> And calorie like concat('%',#{st},'%') </if>
		<if test="sb==3"> And  nation_nm like concat('%',#{st},'%')</if>
	</select>
	
	<select id ="rd" resultType ="int">
		Select recipe_id
		from basic where recipe_id= recipe_id
	</select>


</mapper>
