<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
       "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="net.skhu.mapper.CookingMapper">

	<select id="findByRecipeId" resultType="Cooking">
		
		SELECT * FROM cooking
		WHERE recipe_id= #{recipe_id}
		Order By
		cooking_no
		
	</select>




  <select id="findOne" resultType="Cooking">
    SELECT cooking_no, image_url
    FROM cooking
    WHERE recipe_id = #{recipe_id} 
  </select>

  <select id="findAll" resultType="Cooking">
    SELECT * 
    FROM cooking
  </select>
  
  <delete id="delete">
    DELETE FROM cooking WHERE recipe_id = #{recipe_id}
  </delete>



</mapper>
